<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-3 px-0">
      <h4 class="text-center">商品詳細</h4>
      <%= image_tag @item.image.variant( resize: "250" ) %>
    </div>
    <div class="col-6 px-0 mt-5 mx-auto">
      <table class="table table-borderless">
        <tr>
          <th>商品名</th><th><%= @item.name %></th>
        </tr>
        <tr>
          <td>商品説明</td><td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>ジャンル</td><td><%= @item.genre.name %></td>
        </tr>
        <tr valign="middle">
          <td>税込価格</br>(税抜価格)</td>
          <td><%= @item.add_tax_price.to_s(:dalimited) %>(<%= @item.price.to_s(:dalimited) %>)円</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td>
            <% if @item.is_active %>
              <p class="text-success font-weight-bold">販売中</p>
            <% else %>
              <p class="text-danger font-weight-bold">売切れ</p>
            <% end %>
          <td>
        </tr>
      </table>
      <div class="col-4 mx-auto">
        <%= link_to '編集する', edit_admin_item_path(@item.id), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>