<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-9 px-0 mx-auto">
      <div>
        <h2 class="text-center">ようこそ、ながのCAKEへ！</h2></br>
        <h4 class="text-center">
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要となります。
        </h4>
        </br>
        <h3 class="mx-5 mt-5">新着商品</h3></br>
      </div>
    </div>
    <div class="row mx-auto">
      <% @items.last(4).reverse.each do |item| %>
          <%= link_to item_path(item.id), class: "col-3 text-center text-dark text-nowrap" do %>
            <%= image_tag item.image.variant( resize: "125x125" ) %></br>
            <%= item.name %></br>
            <%= item.price.to_s(:dalimited) %>円
          <% end %>
      <% end %>
      </br>
      <%= link_to "すべての商品を見る＞", items_path, class: "ml-auto mt-3" %>
    </div>
  </div>
</div>