<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-9">
      <h4 class="m-3">配送先登録・一覧</h4>
      <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
        <table class="table table-borderless ml-5">
          <tr>
            <th>郵便番号</th>
            <th class="field">
              <%= f.text_field :postal_code %>
            </th>
          </tr>
          <tr>
            <th>住所</th>
            <th class="field">
              <%= f.text_field :address, size: 60 %>
            </th>
          </tr>
          <tr>
            <th>宛名</th>
            <th class="field">
              <%= f.text_field :name %>
            </th>
          </tr>
        </table>
        <%= f.submit '新規登録', class: "btn btn-success mx-2" %>
      <% end %>

      <table class="table table-hover table-inverse border mt-5">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td>
                <%= address.postal_code %>
              </td>
              <td>
                <%= address.address %>
              </td>
              <td>
                <%= address.name %>
              </td>
              <td>
                <div class="btn-toolbar mt">
                  <div class="btn-group text-center mx-auto">
                    <%= button_to "編集する", edit_address_path(address.id), method: :get, class: "btn btn-primary mx-1" %>
                    <%= button_to "削除する", address_path(address.id), method: :patch, class: "btn btn-danger mx-1" %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>