<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-11 px-0">
      <h4>ショッピングカート</h4>
      <table class="table border md-3">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag cart_item.item.image.variant( resize: "50" ) %>&emsp;<%= cart_item.item.name %></td>
            <td><%= cart_item.item.add_tax_price.to_s(:dalimited) %></td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch, local: true do |f| %>
                <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10],{include_blank: cart_item.item.amount },required:true%>&emsp;
                <%= f.submit '変更' ,class: 'btn btn-success btn-sm'%>
              <% end %>
            </td>
            <td><%= cart_item.sum_of_price %></td>
            <td><%= button_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
¥<%= @total.round.to_s(:delimited)%>

