<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-9 px-0 mx-auto">
        <h3 class="mx-5 mt-5">商品一覧</h3></br>
    </div>
    <div class="row mx-auto">
      <% @items.each do |item| %>
          <%= link_to item_path(item.id), class: "col-3 text-center text-dark text-nowrap" do %>
            <%= image_tag item.image.variant( resize: "125x125" ) %></br>
            <%= item.name %></br>
            <%= item.price.to_s(:dalimited) %>円
          <% end %>
      <% end %>
      </br>
      <div class="text-center mx-auto">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>